html,
body,
#root {
  height: 100%;
  margin: 0;
  overflow: hidden;
}

body {
  user-select: none;
  -webkit-user-select: none;
  cursor: default;
}

input,
textarea,
[contenteditable] {
  user-select: text;
  -webkit-user-select: text;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
::-webkit-scrollbar-thumb {
  background: var(--mui-palette-divider);
  border-radius: 8px;
  border: 2px solid transparent;
  background-clip: padding-box;
}
::-webkit-scrollbar-track {
  background: transparent;
}
